<!-- <div ng-click="remove()" class="ticket" ng-class="{'green':timer.green, 'yellow':timer.yellow,'red':timer.red}">
    <div>{{ ms | date : 'mm:ss' : 'UTC' }}</div>
    <div class="order-items" ng-repeat="item in order">
        <strong>{{item.quantity | num}}-{{item.name}}</strong>
        <p class="note" ng-if="item.notes">{{item.notes}}</p>
    </div>
</div>  -->


<div ng-class="{'green':timer.green, 'yellow':timer.yellow,'red':timer.red}" class="ticket">
    <div  ng-click="remove()" class="ticket-header">{{ ms | date : 'mm:ss' : 'UTC' }}</div>
    <div class="order-items">
        <strong>hello</strong>
        <p class="note">{{order.event_type}}</p>
    </div>
</div>