.ticket {
	width: 200px; 
	min-height: 250px;
    float: left;
    padding-right: 20px;
    margin-left: 15px;
    margin-bottom: 15px;
	border : 1px solid black;
	transition: background .5s;
}

.ticket-header {
	float: left;
	width: 200px;
	height: 50px;
	border : 1px solid black;
	background: white;
	
}

.note {
	color: blue;
}

.green{
  background: #99ff99;
}

.yellow{
  background: #ffff99;
}

.red{
  background: #ff6666;
}