.ticket {
	width: 150px; 
	height: 150px;
    float: left;
    padding-right: 20px;
    margin-left: 15px;
    margin-bottom: 15px;
	border : 1px solid black;
}

.order-items{
	border : 1px solid black;
	transition: background .5s;
}

.note {
	color: blue;
}

.green{
  background: green;
}

.orange{
  background: orange;
}

.red{
  background: red;
}