.signin-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: -webkit-min-content;
  background-color: black; }
  .signin-container > * {
    width: 33%; }
  .signin-container .local {
    max-width: 30em;
    background-color: gray;
    padding: 15px;
    border-radius: 25px;
    text-align: left; }

@media (max-width: 600px) {
  .signin-container {
    flex-direction: column; }
    .signin-container > * {
      width: 50%; } }

.top_oval {
  background-color: saddlebrown;
  width: 400px;
  height: 100px;
  border-radius: 50% / 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.bot_oval {
    background-color: saddlebrown;
    width: 400px;
    height: 100px;
    border-radius: 50% / 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


/*.icon{
  width:100%;
  margin-top:20%;
}

.iconDiv{
  text-align:center;
}

.icon .L_oval{
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
   -webkit-transform:translate(10px,0);
  transform:translate(5px,0);
}

.icon:hover .L_oval{
  -webkit-transform:translate(-70px,0);
  transform:translate(-70px,0);
}

.icon .R_oval{
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  transform:translate(-5px,0);
}

.icon:hover .R_oval{
  -webkit-transform:translate(70px,0);
  transform:translate(70px,0);
}

.icon .text{
  -webkit-transition:all 0.7s ease-in-out;
  transition:all 0.7s ease-in-out;
  fill:white;
}

.icon:hover .text{
  fill:black;
}*/

