
<!-- <div>Shwayter KDS</div>
<div class="signin-container">
	<div class="buffer local">
		<form ng-submit="submitLogin()">
			<div class="form-group">
				<label>email</label>
				<input ng-model="userData.email" type="text" class="form-control" required />
			</div>
			<div class="form-group">
				<label>password</label>
				<input ng-model="userData.password" type="password" class="form-control" required />
			</div>
			<button type="submit" class="btn btn-block btn-primary">login</button>
		</form>
	</div>
</div> -->

<div class="iconDiv">
	<div class="top_oval"></div>
		<!-- <div class="signin-container">
			<div class="buffer local">
				<form ng-submit="submitLogin()">
					<div class="form-group">
						<label>email</label>
						<input ng-model="userData.email" type="text" class="form-control" required />
					</div>
					<div class="form-group">
						<label>password</label>
						<input ng-model="userData.password" type="password" class="form-control" required />
					</div>
					<button type="submit" class="btn btn-block btn-primary">login</button>
				</form>
			</div>
		</div> -->
		<text class="text">
          <tspan x="87.4832041" y="180.292025">
            COFFEE!
          </tspan>
        </text>
	<div class="bot_oval"></div>
</div>